.carousel-container{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.carousel-slide{
    width: 100%;
    height: 400px;
}

.carousel-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}



.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
}

.carousel-buttons button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel-dots-container{
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-dots{
    border: none;
    background-color: rgba(248, 251, 255, 0.904);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.carousel-dots.active{
    border: 1px solid rgba(90, 179, 238, 0.842);
    background-color: rgba(87, 87, 82, 0.932);
    transform: scale(1.5);
}