.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ocupa al menos toda la altura de la pantalla */
}

.Home-container {
    flex: 1; /* Hace que el contenedor crezca para llenar el espacio entre NavBar y Footer */
    width: 100%;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
}